.about-description {
  padding: 15px;
  top: -130px;
  background: rgba(27, 27, 27, 0.8);
  background: rgba(27, 27, 27, 0.8);

  p {
    margin: 0;
  }
}

.about-section {
  .mission-border {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
  }

  .shadow {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  }
}

.services .media {
  margin-bottom: 25px;

  h4 {
  }
}

.section-subscribe img {
  position: absolute;
  right: -10%;
  top: -15vh;
  width: 50%;
  opacity: 0.1;
}

.contact-left {
  padding-left: 10%;
}

.contact-right {
  padding-left: 0;
  text-align: center !important;
  flex: 0 0 100%;
  max-width: 100%;

  p {
    margin: 0;
  }

  div {
    margin-top: 20px;
    position: relative;
  }

  img {
    position: absolute;
    left: 150px;
    top: -40px;
    opacity: 0.12;
    width: 35vw;
  }
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mr-auto-my {
  margin: 0 auto;
}

.padding-none {
  padding: 0;
}

.item-buttons {
  &-purchase {
    padding: 0;
    text-align: left;
  }

  &-next {
    padding: 0;
    text-align: center;
  }
}

.opacity-75 {
  opacity: 0.75 !important;
}
