.footer.footer-page {
  padding-top: 2rem;
  padding-bottom: 2rem;

  ul,
  li {
    list-style: none;
  }

  .footer-nav {
    .navbar-brand {
      color: inherit;
      margin-bottom: 1rem;

      img {
        height: 48px;
        width: auto;
        margin-right: 0.5rem;
      }

      .text {
        display: inline;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }

    .nav-container {
      display: flex;
      padding-left: 32px;
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;
      padding: 0;

      .nav-item {
        padding-right: 1rem;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
          color: #3346d1;
        }
      }
    }
  }

  .footer-block {
    .social-form {
      margin-top: 1rem;
      margin-bottom: 1rem;

      .title {
        font-size: 1rem;
        font-weight: bold;
      }

      .email-ok {
        position: absolute;
      }

      .form-group {
        width: 100%;
      }
    }

    .social-icons {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
    }

    .socials-nav {
      list-style: none;
      display: flex;
      flex-direction: row;

      a {
        padding-left: 8px;
        padding-right: 8px;
        display: inline-block;
        color: inherit;

        &:hover {
          text-decoration: none;
          color: #3346d1;
        }
      }

      .icon {
        font-size: 24px;
      }
    }
  }

  .footer-note {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1rem;
  }
}

@include md {
  .footer.footer-page .footer-nav .navbar-brand {
    margin-bottom: 0;
  }
}

@include md {
  .footer.footer-page .footer-nav .nav-container {
    justify-content: flex-end;
    padding: 0;
  }
}

@include md {
  .footer.footer-page .footer-nav .navbar-nav .nav-item {
    justify-content: flex-end;
    padding-right: 0;
    padding-left: 2rem;
  }
}

@include sm {
  .footer.footer-page .footer-block .social-form .form-group {
    width: auto;
  }
}
