.histo{
    &--container{
        &-title{
            font-size: 45px;
            color: $blue-title;
            text-align: center;
        }
        &-box{
            border: 1px solid $register-form;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &-desc{
                color: $blue-txt;
                &-nomMag{
                    font-size: 30px;
                }
                &-lib{
                    font-size: 20px;
                }
            }
            &-comBox{
                &-title{
                    font-size: 25px;
                    &-none{
                        color: grey;
                    }
                }
                &-star{
                    font-size: 30px;
                    color: $yellow;
                }
                &-commentaire{
                    font-size: 20px;
                }
            }
            &-buttonBox{
                margin-bottom: 10px;
                &-a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                    &-edit, &-delete, &-post{
                        font-size: 18px;
                        border-radius: 5px;
                        padding: 5px 10px;
                        width: 150px;
                        border-style: solid;
                        cursor: pointer;
                        &:hover {
                            box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                        }  
                    }
                    &-edit{
                        background-color: $yellow;
                        border-color: $yellow;
                        color: black;
                    }
                    &-delete{
                        background-color: $red;
                        border-color: $red;
                        color: white;
                    }
                    &-post{
                        background-color: $blue-clear;
                        border-color: $blue-clear;
                        color: white;
                        &:hover{
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}

/*OwO Media Queries OwO*/
/*---------------------*/

/*Small*/
@media screen and (min-width: 576px){
    .histo{
        &--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-box{
                width: 90%;
            }
        }
    }
}
/*Medium*/
@media screen and (min-width: 768px){
    .histo{
        &--container{
            &-box{
                width: 80%;
            }
        }
    }
}
/*Normal*/
@media screen and (min-width: 769px) and (max-width: 991px){
    .histo{
        &--container{
            &-box{
                width: 70%;
            }
        }
    }
}
/*Large*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    .histo{
        &--container{
            &-box{
                width: 65%;
            }
        }
    }
}
/*Extra Large*/
@media screen and (min-width: 1200px){
    .histo{
        &--container{
            &-box{
                width: 60%;
            }
        }
    }
}