.promos{
    &--gestion{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            text-decoration: none;
        }
        &-title{
            color: $blue-title;
            font-size: 30px;
            text-align: center;
        }
        &-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            color: $blue-txt;
            margin: 2%;
            padding: 1%;
            border: 1px solid rgb(235, 235, 235) !important;
            border-radius: 4px !important;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
            text-align: center;
            width: 100%;
            &-txt{
                width: 60%;
                text-align: center;
                &-lib{

                }
                &-date{
                    span{
                        font-family: 'Homizio';
                        font-weight: bolder;
                        font-size: 30px;
                    }
                }
                &-stats{
                    span{
                        font-family: 'Homizio';
                        font-weight: bolder;
                        font-size: 30px;
                    }
                }
                &-codes{
                    display: flex;
                    justify-content: space-evenly;
                    p{
                        margin: 0 5%;
                        span{
                            font-family: 'Homizio';
                            font-weight: bolder;
                            font-size: 45px;
                        }
                    }
                }
            }
            &-check{
                &-labelBox {
                    
                    &-input {
                        
                    }

                    &-span {
                        
                    }
                }
            }

            &-ButtonBox{
                &-button{
                    border-style: solid;
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px 5px;
                    width: 100px;
                    &-delete, &-edit{
                        cursor: pointer;
                        &:hover {
                            box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                        }  
                    }
                    &-delete{
                        background-color: $red;
                        border-color: $red;
                        color: white;
                        text-decoration: none;
                    }
                    &-edit{
                        background-color: $yellow;
                        border-color: $yellow;
                        color: $blue-txt;
                        text-decoration: none;
                    }
                }
            }
        }
        &-addButton{
            margin-top: 40px;
            border-style: solid;
            background-color: $yellow;
            border-color: $yellow;
            color: $blue-txt;
            font-size: 25px;
            border-radius: 5px;
            padding: 10px 20px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
            }  
        }
    }
}

/*Small*/
@media screen and (min-width: 576px){
    .promos{
        &--gestion{
            &-box{
                &-txt{
                    width: 80%;
                }
            }
        }
    }
}
/*Medium*/
@media screen and (min-width: 768px){
    .promos {
        &--gestion {
            &-box {
                width: 95%;
                margin: 0;
            }
        }
    }
}
/*Extra Large*/
@media screen and (min-width: 1200px){
    .promos{
        &--gestion{
            &-box{
                flex-direction: row;
                justify-content: space-between;
                &-txt{
                    width: 60%;
                }
            }
        }
    }
}