.shop{
    &--container{
        &-title{
            color: $blue-title;
            font-size: 40px;
            margin-left: 10%;
        }
        &-slider{
            &-container{
                margin: 0 auto;
                margin-top: 20px;
                height: 0;
                width: 50%;
                position: relative;
                padding-bottom: 40%;
                user-select: none;
                background-color: #1c1c1c;
                box-shadow: $box-shadow;
                input {
                    display: none;
                }
                &-imgbox{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    img {
                        width: inherit;
                        height: inherit;
                    }
                    &-prev, &-next{
                       display: none;
                    }
                }
            }
        }
        &-desc{
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 60px;
            display: flex;
            //justify-content: space-around;
            flex-direction: column;
            color: $blue-title;
            align-items: center;
            &-location{
                &-title{
                    font-size: 30px;
                }
                &-txt{
                    font-size: 20px;
                    
                }
            }
            &-schedule{
                &-title{
                    font-size: 30px;
                }
                &-txt{
                    &-p{
                        font-size: 20px;
                    }
                    &-span{
                        font-size: 18px;
                    }
                }
            }
        }
        &-promo{
            margin: 2%;
            justify-content: center;
            &-title{
                background-color: $blue-clear;
                color: white;
                font-size: 40px;
                text-align: center;
                padding: 2vw;
                border-radius: 15px;
            }
            &-desc{
                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
                padding: 5px;
                border: 1px solid rgb(235, 235, 235) !important;
                border-radius: 4px !important;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
                &-schedule{
                    &-title{
                        color: $blue-title;
                        font-size: 20px;
                    }
                    &-begin, &-end{
                        color: $blue-txt;
                        font-size: 18px;
                    }
                }
                &-button{
                    background-color: $yellow;
                    color: $blue-txt;
                    font-size: 4vw;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border-color: $yellow;
                    border-style: solid;
                    cursor: pointer;
                    &:hover {
                        box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                        color: $blue-clear;
                    }  
                }
            }
        }

        &-comAvis{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            color: $blue-txt;
            &-title{
                color: $yellow;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 30px;
                text-align: center;
            }
            &-box{
                border: 1px solid rgb(235, 235, 235) !important;
                border-radius: 4px !important;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 95%;
                margin-bottom: 30px;
                text-align: center;
                &-user{
                    font-size: 28px;
                    font-weight: bold;
                    span{
                        font-size: 25px;
                        font-weight: 300;
                    }
                }
                &-starBox{
                    &-star{
                        font-size: 25px;
                        color: $yellow;
                    }
                }
                &-avis{
                    font-size: 20px;
                    font-family: 'Homizio';
                }
            }
        }
    }
}


/*Slider Bullshit*/
#nav_slide {
    width: 100%;
    bottom: -10%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
    .dots {
        width: 15px;
        height: 15px;
        margin: 0 3px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        border: 1.5px solid $radio-check-border-color;
        transition: .4s;
        cursor: pointer;
    }
    #dot1:hover, #dot2:hover, #dot3:hover, #dot4:hover {background: $radio-check-color;}
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
	animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {background: $radio-check-color;}
#i2:checked ~ #nav_slide #dot2 {background: $radio-check-color;}
#i3:checked ~ #nav_slide #dot3 {background: $radio-check-color;}
#i4:checked ~ #nav_slide #dot4 {background: $radio-check-color;}

@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

/*Small*/
@media screen and (min-width: 576px){
    .shop{
        &--container{
            &-title{
                font-size: 55px;
            }
            &-slider{
                &-container{
                    &-imgbox{
                        &-prev, &-next{
                            display: block;
                            width: 12%;
                            height: inherit;
                            position: absolute;
                            top: 0;
                            z-index: 99;
                            transition: .45s;
                            cursor: pointer;
                            text-align: center;
                            &:hover{
                                transition: .3s;
                            }
                            span{
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                border: solid 20px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        &-prev{
                            left: -12%;
                            span{
                                border-color: transparent $next-right-button transparent transparent;
                                right: 35%;
                            }
                        }
                        &-next{
                            right: -12%;
                            span{
                                border-color: transparent transparent transparent $next-right-button;
                                left: 35%;
                            }
                        }
                    }
                }
            }
            &-desc{
                margin-top: 100px;
                flex-direction: row;
                justify-content: space-evenly;
                &-location{
                    &-title{
                        font-size: 40px;
                    }
                    &-txt{
                        font-size: 25px;
                    }
                }
                &-schedule{
                    &-title{
                        font-size: 40px;
                    }
                    &-txt{
                        &-p{
                            font-size: 25px;
                        }
                        &-span{
                            font-size: 22px;
                        }
                    }
                }
            }
            &-promo{
                margin: 5% 15%;
                &-desc{
                    flex-direction: row;
                    justify-content: space-between;
                    &-button{
                        font-size: 2vw;
                    }
                }
                
            }
            &-comAvis{
                justify-content: space-evenly;
                &-box{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (min-width: 769px){
    .shop{
        &--container{
            &-comAvis{
                &-box{
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 90%;
                    &-user{
                        width: 30%;
                    }
                    &-starBox{
                        &-star{
                            width: 30%;
                        }
                    }
                    &-avis{
                        width: 30%;
                    }
                }
            }
        }
    }
}
/*Extra Large*/
@media screen and (min-width: 1200px){
    .shop{
        &--container{
            &-comAvis{
                &-box{
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 90%;
                }
            }
        }
    }
}