.gestion{
    &--shop{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            color: $blue-title;
            font-size: 30px;
            text-align: center;
        }
        &-box{
            color: $blue-txt;
            padding: 1%;
            border: 1px solid rgb(235, 235, 235) !important;
            border-radius: 4px !important;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
            width: 90%;
            &-name{
                text-align: center;
                font-size: 25px;
            }
            &-adresse{
                text-align: center;
            }
            &-desc{
                display: flex;
                justify-content: space-evenly;
                &-button{
                    border-style: solid;
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    width: 100px;
                    cursor: pointer;
                    &:hover {
                        box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                    }
                }
            }
            &-promo{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                &-title{
                    color: $blue-title;
                    font-size: 20px;
                    margin: 0;
                }
                &-txt{
                    text-align: center;
                    font-size: 15px;
                }
                &-button{
                    border-style: solid;
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 1vw;
                    background-color: $blue-clear;
                    border-color: $blue-clear;
                    display: block;
                    color: white;
                    cursor: pointer;
                    &:hover {
                        box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                        color: $yellow;
                    }
                }
            }
        }
        &-button{
            border-style: solid;
            background-color: $yellow;
            border-color: $yellow;
            color: $blue-txt;
            font-size: 25px;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            &:hover {
                box-shadow:  rgba(26, 26, 29, 0.8) 0px 4px 12px !important;
                color: $blue-clear;
            }  
            a{
                display: block;
                &:hover{
                    text-decoration: none;
                }
                
            }
        }
    }
}
.see{
    background-color: $blue-clear;
    border-color: $blue-clear;
    color: white;
}

.edit{
    background-color: $yellow;
    border-color: $yellow;
    color: black;
}

.delete{
    background-color: $red;
    border-color: $red;
    color: white;
    padding: 5px 5px;
}


/*Small*/
@media screen and (min-width: 768px){
    .gestion{
        &--shop{
            &-box{
                width: 95%;
                display: flex;
                flex-direction: row;
                &-name {
                    width: 30%;
                }
                &-adresse {
                    width: 30%;
                }
                &-flex{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 70%;
                }
                &-desc{
                    display: block;
                }
                &-promo {
                    width: 30%;
                    margin-top: 0px;
                }
            }
        }
    }
}