/* ======= Base style ========== */
body {
  font-family: $text-font, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  background-color: $white;
  color: $text-color;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
}

ul {
  li {
    list-style: none outside none;
  }
}

ol {
  margin: 0 0 1rem 0;
  padding-left: 17px;
}

iframe {
  border: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  font-family: $title-font, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: normal;
}

p {
  font-size: 1rem;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media (min-width: 601px) {
  p {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  p {
    font-size: 1rem;
  }
}
