//variables
$white: #ffffff;
$black: #000000;
$text-color: #1d1d1d;

//fonts
$font-path: '../../fonts';

$text-font: 'Chivo';
$title-font: 'Montserrat';

$PlayfairDisplaySC: 'PlayfairDisplaySC';
$PlayfairDisplay: 'PlayfairDisplay';
$OpenSans: 'OpenSans';
$Oswald: 'Oswald';
$Montserrat: 'Montserrat';
$Cardo: 'Cardo';
$Chivo: 'Chivo';

$Acumin: 'Acumin';
