/*Les differentes polices d'ecritures*/
//Aaargh
@font-face{
    font-family: 'Aaargh';
    src: '{ url(asset(mix("../fonts/aaargh/Aaargh.ttf"))) }' format("ttf");
}

//Homizio
@font-face {
    font-family: 'Homizio';
    src: '{ url(asset(mix("../fonts/homizio/regular.woff"))) }' format("woff");
}

//Offerings
@font-face {
    font-family: 'Offerings';
    src: '{ url(asset(mix("../fonts/Offerings/Offerings_Regular.otf"))) }' format("otf");
}