#projects{
    &-desktop{
        display: none;
    }
    &-mobile{
        display: block;
    }
}

@media screen and (min-width: 991px){
    #projects{
        &-desktop{
            display: block;
            iframe{
                width: 100%;
                max-width: 1200px;
                height: 700px;
            }
        }
        &-mobile{
            display: none;
        }
    }
}