.article .article-header {
    margin-bottom: 2rem;
}

.article .article-header .wrapper {
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.article .article-content .wrapper {
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.article .article-content .info-small {
    display: inline-flex;
    width: 100%;
}

.article .article-content .info-small i{
    margin-right: 5px;
    color: #fff;
}

.article .article-content .info-small p {
    margin-bottom: 0;
    margin: 0 auto;
}

.article .article-content .info-small p:nth-child(1) {
    margin: 0 0 0 auto;
    margin-right: 20px;
}

.article .article-content .info-small p:nth-child(2) {
    margin: 0 auto 0 0;
}


.article .article-content .info-small a {
    color: #fff;
}

.article .article-footer .article-details {
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.article .article-footer .article-details h3 {
    text-transform: uppercase;
}

.media .icon {
    font-size: 4.5rem;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1;
}

.media img {
    width: 4.5rem;
    height: auto;
}

.media-article-title .media-body {
    overflow: hidden;
}

.media-article-title .media-body .media-title {
    font-size: 1rem;
}

.media-article-title .media-body p {
    font-size: 0.75rem;
}

.code-highlight {
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}

.code-highlight .code-title {
    padding: 2px 1rem;
    font-size: 0.875rem;
    border-bottom: none;
    background: #e1e1e1;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #1d1d1d;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.code-highlight .code-title:before {
    content: ">>";
    margin-right: 0.5rem;
    color: #8b8b8b;
}

.code-highlight pre {
    padding: 1rem;
    font-size: 0.875rem;
    max-height: 600px;
    overflow: auto;
    background: #f8f9fa;
    color: #1d1d1d;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-bottom: 0;
}

.code-highlight-beta .code-title {
    padding: 2px 1rem;
    font-size: 0.875rem;
    border: 2px solid #f8f9fa;
    border-bottom: none;
    background: #ffffff;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #1d1d1d;
    font-weight: bold;
}

.code-highlight-beta pre {
    padding: 1rem;
    font-size: 0.875rem;
    max-height: 600px;
    overflow: auto;
    background: #f8f9fa;
    color: #1d1d1d;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.article-light > .article-content > .wrapper > h2 {
    font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.article-light > .article-content > .wrapper > p {
    font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .article-light > .article-content > .wrapper > p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .article-light > .article-content > .wrapper > p {
        font-size: 1rem;
    }
}

.article-light > .article-content > .wrapper > p.italic {
    font-style: italic;
}

.article-light > .article-content > .wrapper > h3 {
    margin-top: 1.5rem;
}

.article-light > .article-content > .wrapper > p {
    font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    margin-top: 1.5rem;
}

.article-light > .article-content > .wrapper > img {
    margin-top: 1.5rem;
    max-width: 100%;
}

.article-light > .article-content > .wrapper > hr {
    display: block;
    position: relative;
    border: 0;
    margin-top: 44px;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.article-light > .article-content > .wrapper > hr:before {
    content: '---';
    display: inline-block;
    margin-left: .6em;
    color: rgba(29, 29, 29, 0.6);
    position: relative;
    top: -30px;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: .75em;
}

.article-light > .article-content > .wrapper > li {
    font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    margin-left: 30px;
    margin-bottom: 14px;
    position: relative;
    list-style: none;
}

@media (min-width: 768px) {
    .article-light > .article-content > .wrapper > li {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .article-light > .article-content > .wrapper > li {
        font-size: 1rem;
    }
}

.article-light > .article-content > .wrapper > li.italic {
    font-style: italic;
}

.article-light > .article-content > .wrapper > li:before {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    content: "";
    background: currentColor;
    margin-left: -20px;
    left: 0;
    top: 12px;
    border-radius: 60px;
}

.article-light > .article-content > .wrapper > a {
    color: inherit;
    text-decoration: underline;
}

.article-light > .article-content > .wrapper > blockquote {
    margin-top: 24px;
    border-left: 3px solid #ffffff;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-family: "Open Sans", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .article-light > .article-content > .wrapper > blockquote {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .article-light > .article-content > .wrapper > blockquote {
        font-size: 1rem;
    }
}

.article-light > .article-content > .wrapper > blockquote.italic {
    font-style: italic;
}

.article-light .article-footer {
    margin-bottom: 2rem;
}

.article-light .article-footer .article-details {
    background: #2b2b2b;
    text-align: center;
    padding: 2rem;
}

.article-light .article-footer .article-comments {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.article-doc h2 {
    margin-top: 3rem;
}

.article-doc h3 {
    margin-top: 1.5rem;
}

.article-doc h2:before, .article-doc h3:before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
}

.article-doc img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article-doc .article-content ol, .article-doc .article-content p, .article-doc .article-content ul {
    max-width: 80%;
    opacity: 1;
}

.article-doc .article-content ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.article-doc .article-content hr {
    width: 100%;
    margin: 1rem 0;
    border-top: 2px solid #e1e1e1;
}

.article-doc .article-content blockquote {
    border-left: 2px solid #e1e1e1;
    padding-left: 2rem;
}