.btn {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-height: 46px;
    line-height: 1.2;
    border-radius: 0;
}

.btn.no-border {
    border: none;
}

.btn-sm {
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.5;
    min-height: 30px;
}

.btn-round {
    border-radius: 10rem;
}

.btn-rect {
    border-radius: 0;
}

.btn {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #3346d1;
}

.btn.active, .btn:active {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn:hover, .btn:focus {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
}

.btn.disabled, .btn:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-full {
    width: 100%;
}

.btn-primary {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #3346d1;
}

.btn-primary.active, .btn-primary:active {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-secondary {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #3f4b62;
    border-radius: 6px;
}

.btn-secondary.active, .btn-secondary:active {
    color: #ffffff;
    background-color: #2b3343;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: #ffffff;
    background-color: #2b3343;
    border-color: #2b3343;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #2b3343;
}

.btn-white {
    color: #3346d1;
    border: 1px solid transparent;
    background-color: #ffffff;
}

.btn-white.active, .btn-white:active {
    color: #3346d1;
    background-color: #d6d6d6;
}

.btn-white:hover, .btn-white:focus {
    color: #3346d1;
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}

.btn-white.disabled, .btn-white:disabled {
    color: #3346d1;
    opacity: 0.7;
    background-color: #d6d6d6;
}

.btn-black {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1d1d1d;
}

.btn-black.active, .btn-black:active {
    color: #ffffff;
    background-color: #141414;
}

.btn-black:hover, .btn-black:focus {
    color: #ffffff;
    background-color: #141414;
    border-color: #141414;
}

.btn-black.disabled, .btn-black:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #141414;
}

.btn-outline-primary {
    color: #3346d1;
    border: 2px solid #3346d1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: none;
    line-height: 1;
}

.btn-outline-primary.active, .btn-outline-primary:active {
    color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
    background-color: transparent;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
    background-color: transparent;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #3346d1;
    opacity: 0.7;
    background-color: transparent;
}

.btn-outline-secondary {
    color: #3f4b62;
    border: 2px solid #3f4b62;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: none;
    line-height: 1;
}

.btn-outline-secondary.active, .btn-outline-secondary:active {
    color: #2b3343;
    border-color: #2b3343;
    background-color: transparent;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
    color: #2b3343;
    border-color: #2b3343;
    background-color: transparent;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #3f4b62;
    opacity: 0.7;
    background-color: transparent;
}

.btn-outline-white {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s background-color;
    background: none;
    line-height: 1.25;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-transparent {
    background: transparent;
    outline: none;
}
btn-transparent:focus {
    border: none;
    outline: none;
}
.btn-left-hover {
    padding-left: 0;
}
.btn-left-hover:hover {
    background: transparent;
    -webkit-transform: translateX(-5%) rotate(-0deg);
    transform: translateX(-5%) rotate(-0deg);
}
.btn-border-none {
    border: none;
    outline: none;
}
.btn-outline-white.active, .btn-outline-white:active {
    color: #1d1d1d;
    border-color: #1d1d1d;
    background-color: transparent; }
.btn-outline-white:hover, .btn-outline-white:focus {
    background: #ffffff;
    color: #1d1d1d;
    border-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2); }
.btn-outline-white.disabled, .btn-outline-white:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: transparent; }

.btn-outline-white:hover, .btn-outline-white:focus {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-outline-black {
    color: #1d1d1d;
    border: 2px solid #1d1d1d;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: none;
    line-height: 1;
}

.btn-outline-black.active, .btn-outline-black:active {
    color: #141414;
    border-color: #141414;
    background-color: transparent;
}

.btn-outline-black:hover, .btn-outline-black:focus {
    color: #141414;
    border-color: #141414;
    background-color: transparent;
}

.btn-outline-black.disabled, .btn-outline-black:disabled {
    color: #1d1d1d;
    opacity: 0.7;
    background-color: transparent;
}

.btn-material-primary {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-material-primary:not([href]):not([tabindex]) {
    color: #ffffff;
}

.btn-material-primary.active, .btn-material-primary:active {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-material-primary:hover, .btn-material-primary:focus {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-material-primary.disabled, .btn-material-primary:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-material-secondary {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-material-secondary:not([href]):not([tabindex]) {
    color: #ffffff;
}

.btn-material-secondary.active, .btn-material-secondary:active {
    color: #ffffff;
    background-color: #2b3343;
}

.btn-material-secondary:hover, .btn-material-secondary:focus {
    color: #ffffff;
    background-color: #2b3343;
    border-color: #2b3343;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-material-secondary.disabled, .btn-material-secondary:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #2b3343;
}

.btn-material-white {
    color: #ffffff;
    border: 1px solid #3346d1;
    background-color: #3346d1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-material-white:not([href]):not([tabindex]) {
    color: #ffffff;
}

.btn-material-white.active, .btn-material-white:active {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-material-white:hover, .btn-material-white:focus {
    color: #ffffff;
    background-color: rgba(51, 70, 209, 0.8);
    border-color: rgba(51, 70, 209, 0.8);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-material-white.disabled, .btn-material-white:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: rgba(51, 70, 209, 0.8);
}

.btn-material-black {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-material-black:not([href]):not([tabindex]) {
    color: #ffffff;
}

.btn-material-black.active, .btn-material-black:active {
    color: #ffffff;
    background-color: #141414;
}

.btn-material-black:hover, .btn-material-black:focus {
    color: #ffffff;
    background-color: #141414;
    border-color: #141414;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-material-black.disabled, .btn-material-black:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #141414;
}

.btn-circicon-outline {
    color: #3346d1;
    border: 1px solid currentColor;
    background: none;
    padding-right: 3.25rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-circicon-outline .icon {
    background: #3346d1;
    vertical-align: middle;
    color: #ffffff;
    border-radius: 100px;
    position: absolute;
    left: auto;
    right: 0.65rem;
    top: 0.50rem;
    height: 1.75rem;
    width: 1.75rem;
    padding-top: 0.05rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-circicon-outline .icon .fa,
.btn-circicon-outline .icon .ion,
.btn-circicon-outline .icon .icon {
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
}

.btn-circicon-outline .text {
    display: inline-block;
}

.btn-circicon-outline.active, .btn-circicon-outline:active, .btn-circicon-outline:hover {
    color: #3346d1;
    background: rgba(209, 51, 91, 0.2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-circicon-outline.active .icon, .btn-circicon-outline:active .icon, .btn-circicon-outline:hover .icon {
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn-circicon-outline.disabled, .btn-circicon-outline:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #3346d1;
}

.btn-circicon-outline.icon-left {
    padding-left: 3.25rem;
    padding-right: 1.5rem;
}

.btn-circicon-outline.icon-left .icon {
    right: auto;
    left: 0.65rem;
}

.btn-circicon-outline.btn-sm {
    padding-right: 2rem;
}

.btn-circicon-outline.btn-sm .icon {
    height: 1.25rem;
    width: 1.25rem;
    top: 0.25rem;
    right: 0.25rem;
    padding-top: 0rem;
}

.btn-circicon-outline.btn-sm .icon .fa,
.btn-circicon-outline.btn-sm .icon .ion,
.btn-circicon-outline.btn-sm .icon .icon {
    font-size: 1rem;
    line-height: 1;
    position: relative;
    margin-top: 0.12rem;
    display: block;
}

.btn-circicon-outline.btn-sm.icon-left {
    padding-right: 0.75rem;
    padding-left: 2rem;
}

.btn-circicon-outline.btn-sm.icon-left .icon {
    right: auto;
    left: 0.25rem;
}

.btn-circicon-outline.btn-primary {
    color: #3346d1;
}

.btn-circicon-outline.btn-primary .icon {
    background: #3346d1;
    color: #ffffff;
}

.btn-circicon-outline.btn-primary.active, .btn-circicon-outline.btn-primary:active, .btn-circicon-outline.btn-primary:hover {
    color: #3346d1;
    background: rgba(176, 43, 76, 0.2);
}

.btn-circicon-outline.btn-primary.active .icon, .btn-circicon-outline.btn-primary:active .icon, .btn-circicon-outline.btn-primary:hover .icon {
    color: #ffffff;
}

.btn-circicon-outline.btn-primary.disabled, .btn-circicon-outline.btn-primary:disabled {
    color: #ffffff;
    background-color: #3346d1;
}

.btn-circicon-outline.btn-secondary {
    color: #3f4b62;
}

.btn-circicon-outline.btn-secondary .icon {
    background: #3f4b62;
    color: #ffffff;
}

.btn-circicon-outline.btn-secondary.active, .btn-circicon-outline.btn-secondary:active, .btn-circicon-outline.btn-secondary:hover {
    color: #3f4b62;
    background: rgba(53, 63, 82, 0.2);
}

.btn-circicon-outline.btn-secondary.active .icon, .btn-circicon-outline.btn-secondary:active .icon, .btn-circicon-outline.btn-secondary:hover .icon {
    color: #ffffff;
}

.btn-circicon-outline.btn-secondary.disabled, .btn-circicon-outline.btn-secondary:disabled {
    color: #ffffff;
    background-color: #3f4b62;
}

.btn-circicon-outline.btn-white {
    color: #ffffff;
}

.btn-circicon-outline.btn-white .icon {
    background: #ffffff;
    color: #3346d1;
}

.btn-circicon-outline.btn-white.active, .btn-circicon-outline.btn-white:active, .btn-circicon-outline.btn-white:hover {
    color: #ffffff;
    background: rgba(176, 43, 76, 0.2);
}

.btn-circicon-outline.btn-white.active .icon, .btn-circicon-outline.btn-white:active .icon, .btn-circicon-outline.btn-white:hover .icon {
    color: #3346d1;
}

.btn-circicon-outline.btn-white.disabled, .btn-circicon-outline.btn-white:disabled {
    color: #ffffff;
    background-color: #ffffff;
}

.btn-circicon-outline.btn-black {
    color: #1d1d1d;
}

.btn-circicon-outline.btn-black .icon {
    background: #1d1d1d;
    color: #ffffff;
}

.btn-circicon-outline.btn-black.active, .btn-circicon-outline.btn-black:active, .btn-circicon-outline.btn-black:hover {
    color: #1d1d1d;
    background: rgba(24, 24, 24, 0.2);
}

.btn-circicon-outline.btn-black.active .icon, .btn-circicon-outline.btn-black:active .icon, .btn-circicon-outline.btn-black:hover .icon {
    color: #ffffff;
}

.btn-circicon-outline.btn-black.disabled, .btn-circicon-outline.btn-black:disabled {
    color: #ffffff;
    background-color: #1d1d1d;
}

.btn-transp-icon {
    color: #ffffff;
    border: none;
    background-color: transparent;
    padding-right: 3rem;
    padding-left: 1.5rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-icon .icon {
    text-align: left;
    vertical-align: middle;
    color: #ffffff;
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    height: auto;
    width: 2.5rem;
    padding-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
}

.btn-transp-icon .icon .fa,
.btn-transp-icon .icon .ion,
.btn-transp-icon .icon .icon {
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
}

.btn-transp-icon .text {
    display: inline-block;
}

.btn-transp-icon.active, .btn-transp-icon:active, .btn-transp-icon:hover {
    color: #ffffff;
    background: rgba(176, 43, 76, 0.25);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-transp-icon.disabled, .btn-transp-icon:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #3346d1;
}

.btn-transp-icon.btn-outline {
    border: 1px solid currentColor;
}

.btn-transp-icon.icon-left {
    padding-left: 3rem;
    padding-right: 1.5rem;
}

.btn-transp-icon.icon-left .icon {
    text-align: right;
    right: auto;
    left: 0;
}

.btn-transp-icon.icon-only {
    padding: 0.75rem 0;
    height: 44px;
    width: 48px;
}

.btn-transp-icon.icon-only .icon {
    text-align: center;
    width: 100%;
}

.btn-transp-icon.icon-only.btn:hover .icon {
    color: #3346d1;
}

.btn-transp-icon.btn-primary {
    color: #3346d1;
}

.btn-transp-icon.btn-primary .icon {
    color: #3346d1;
}

.btn-transp-icon.btn-primary.active, .btn-transp-icon.btn-primary:active, .btn-transp-icon.btn-primary:hover {
    color: inherit;
    background: rgba(209, 51, 91, 0.25);
}

.btn-transp-icon.btn-primary.active .icon, .btn-transp-icon.btn-primary:active .icon, .btn-transp-icon.btn-primary:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-primary.disabled, .btn-transp-icon.btn-primary:disabled {
    color: #ffffff;
    background-color: #3346d1;
}

.btn-transp-icon.btn-primary.icon-only:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-secondary {
    color: #3f4b62;
}

.btn-transp-icon.btn-secondary .icon {
    color: #3f4b62;
}

.btn-transp-icon.btn-secondary.active, .btn-transp-icon.btn-secondary:active, .btn-transp-icon.btn-secondary:hover {
    color: inherit;
    background: rgba(63, 75, 98, 0.25);
}

.btn-transp-icon.btn-secondary.active .icon, .btn-transp-icon.btn-secondary:active .icon, .btn-transp-icon.btn-secondary:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-secondary.disabled, .btn-transp-icon.btn-secondary:disabled {
    color: #ffffff;
    background-color: #3f4b62;
}

.btn-transp-icon.btn-secondary.icon-only:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-white {
    color: #ffffff;
}

.btn-transp-icon.btn-white .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-white.active, .btn-transp-icon.btn-white:active, .btn-transp-icon.btn-white:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
}

.btn-transp-icon.btn-white.active .icon, .btn-transp-icon.btn-white:active .icon, .btn-transp-icon.btn-white:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-white.disabled, .btn-transp-icon.btn-white:disabled {
    color: #ffffff;
    background-color: #ffffff;
}

.btn-transp-icon.btn-white.icon-only:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-black {
    color: #1d1d1d;
}

.btn-transp-icon.btn-black .icon {
    color: #1d1d1d;
}

.btn-transp-icon.btn-black.active, .btn-transp-icon.btn-black:active, .btn-transp-icon.btn-black:hover {
    color: inherit;
    background: rgba(29, 29, 29, 0.25);
}

.btn-transp-icon.btn-black.active .icon, .btn-transp-icon.btn-black:active .icon, .btn-transp-icon.btn-black:hover .icon {
    color: #ffffff;
}

.btn-transp-icon.btn-black.disabled, .btn-transp-icon.btn-black:disabled {
    color: #ffffff;
    background-color: #1d1d1d;
}

.btn-transp-icon.btn-black.icon-only:hover .icon {
    color: #ffffff;
}

.btn-transp-arrow {
    color: #ffffff;
    border: none;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transp-arrow .icon {
    color: #3346d1;
    position: absolute;
    left: auto;
    right: 1rem;
    top: 1rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow .icon .fa,
.btn-transp-arrow .icon .ion,
.btn-transp-arrow .icon .icon {
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
}

.btn-transp-arrow .arrow-right {
    width: 24px;
    height: 16px;
}

.btn-transp-arrow .arrow-right:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow .arrow-right:after {
    content: "";
    top: 5px;
    right: 1px;
    position: absolute;
    width: 16px;
    height: 2px;
    border-top: 2px solid #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow .arrow-left {
    width: 24px;
    height: 16px;
}

.btn-transp-arrow .arrow-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow .arrow-left:after {
    content: "";
    top: 5px;
    left: 1px;
    position: absolute;
    width: 16px;
    height: 2px;
    border-top: 2px solid #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow .text {
    display: inline-block;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn-transp-arrow.active, .btn-transp-arrow:active, .btn-transp-arrow:hover {
    color: #ffffff;
    background: #3346d1;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-transp-arrow.active .icon, .btn-transp-arrow:active .icon, .btn-transp-arrow:hover .icon {
    right: 0.75rem;
}

.btn-transp-arrow.active .text, .btn-transp-arrow:active .text, .btn-transp-arrow:hover .text {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
}

.btn-transp-arrow.active .arrow-right:after, .btn-transp-arrow:active .arrow-right:after, .btn-transp-arrow:hover .arrow-right:after {
    content: "";
    width: 28px;
}

.btn-transp-arrow.active .arrow-left:after, .btn-transp-arrow:active .arrow-left:after, .btn-transp-arrow:hover .arrow-left:after {
    content: "";
    width: 26px;
}

.btn-transp-arrow.active.icon-left .icon, .btn-transp-arrow:active.icon-left .icon, .btn-transp-arrow:hover.icon-left .icon {
    right: auto;
    left: 0.75rem;
}

.btn-transp-arrow.active.icon-left .text, .btn-transp-arrow:active.icon-left .text, .btn-transp-arrow:hover.icon-left .text {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.btn-transp-arrow.disabled, .btn-transp-arrow:disabled {
    color: #ffffff;
    opacity: 0.7;
    background-color: #3346d1;
}

.btn-transp-arrow.btn-outline {
    border: 2px solid currentColor;
    padding-top: 0.65rem;
}

.btn-transp-arrow.btn-outline .icon {
    top: 0.9rem;
}

.btn-transp-arrow.icon-left {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-transp-arrow.icon-left .icon {
    right: auto;
    left: 1rem;
}

.btn-transp-arrow.icon-only {
    padding: 0.75rem 1.5rem;
    height: 44px;
    width: 48px;
}

.btn-transp-arrow.btn-primary {
    color: inherit;
    background-color: transparent;
}

.btn-transp-arrow.btn-primary .icon {
    color: inherit;
}

.btn-transp-arrow.btn-primary .arrow-right:before {
    border-top-color: inherit;
    border-right-color: inherit;
}

.btn-transp-arrow.btn-primary .arrow-right:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-primary .arrow-left:before {
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.btn-transp-arrow.btn-primary .arrow-left:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-primary.active, .btn-transp-arrow.btn-primary:active, .btn-transp-arrow.btn-primary:hover {
    color: #ffffff;
    opacity: 0.5;
}

.btn-transp-arrow.btn-primary.disabled, .btn-transp-arrow.btn-primary:disabled {
    color: #ffffff;
    background-color: #3346d1;
}

.btn-transp-arrow.btn-secondary {
    color: inherit;
    background-color: transparent;
}

.btn-transp-arrow.btn-secondary .icon {
    color: inherit;
}

.btn-transp-arrow.btn-secondary .arrow-right:before {
    border-top-color: inherit;
    border-right-color: inherit;
}

.btn-transp-arrow.btn-secondary .arrow-right:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-secondary .arrow-left:before {
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.btn-transp-arrow.btn-secondary .arrow-left:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-secondary.active, .btn-transp-arrow.btn-secondary:active, .btn-transp-arrow.btn-secondary:hover {
    color: #ffffff;
    background: #353f52;
}

.btn-transp-arrow.btn-secondary.disabled, .btn-transp-arrow.btn-secondary:disabled {
    color: #ffffff;
    background-color: #3f4b62;
}

.btn-transp-arrow.btn-white {
    color: #ffffff;
    background-color: #3346d1;
}

.btn-transp-arrow.btn-white .icon {
    color: inherit;
}

.btn-transp-arrow.btn-white .arrow-right:before {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
}

.btn-transp-arrow.btn-white .arrow-right:after {
    border-top-color: #ffffff;
}

.btn-transp-arrow.btn-white .arrow-left:before {
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
}

.btn-transp-arrow.btn-white .arrow-left:after {
    border-top-color: #ffffff;
}

.btn-transp-arrow.btn-white.active, .btn-transp-arrow.btn-white:active, .btn-transp-arrow.btn-white:hover {
    color: #ffffff;
    background: #1d1d1d;
}

.btn-transp-arrow.btn-white.disabled, .btn-transp-arrow.btn-white:disabled {
    color: #ffffff;
    background-color: #1d1d1d;
}

.btn-transp-arrow.btn-black {
    color: inherit;
    background-color: transparent;
}

.btn-transp-arrow.btn-black .icon {
    color: inherit;
}

.btn-transp-arrow.btn-black .arrow-right:before {
    border-top-color: inherit;
    border-right-color: inherit;
}

.btn-transp-arrow.btn-black .arrow-right:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-black .arrow-left:before {
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.btn-transp-arrow.btn-black .arrow-left:after {
    border-top-color: inherit;
}

.btn-transp-arrow.btn-black.active, .btn-transp-arrow.btn-black:active, .btn-transp-arrow.btn-black:hover {
    color: #ffffff;
    background: #181818;
}

.btn-transp-arrow.btn-black.disabled, .btn-transp-arrow.btn-black:disabled {
    color: #ffffff;
    background-color: #1d1d1d;
}

.icon-btn {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.icon-btn .icon {
    font-size: 32px;
}

.icon-btn:hover {
    color: rgba(255, 255, 255, 0.5);
}