.media .icon {
    font-size: 6rem;
    display: block;
    line-height: 1;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 40%;
}

.media .img img {
    width: 4.5rem;
    height: 4.5rem;
}

.media-article-title .media-body {
    overflow: hidden;
}

.media-article-title .media-body .media-title {
    font-size: 1rem;
}

.media-article-title .media-body p {
    font-size: 0.75rem;
}

.media.media-primary {
    color: #ffffff;
    background: #3f4b62;
}

.media.media-secondary {
    color: #ffffff;
    background: #3f4b62;
}

.media.media-white {
    background: #ffffff;
}

.media.media-black {
    color: #ffffff;
    background: #1d1d1d;
}