
@media (max-width: 1366px) {
    .section-home .home-title:before , .section-home .home-title:after {
        width: 60%;
    }
    .about-description {
        top: -90px;
    }
    .section-title .title-bg {
        font-size: 5em;
    }
    .media .icon {
        font-size: 6rem;
    }
    .media .icon {
        left: 35%;
    }
    .carousel-swiper-beta .legend h2 {
        font-size: 1.5em;
    }
    .carousel-swiper-beta .legend p {
        font-size: 0.9em;
    }
    .section-subscribe .display-4 {
        margin-bottom: 1rem;
    }
    .price-item .price-big {
        font-size: 2rem;
    }
    .section p, .section ul {
        line-height: 1.5;
    }
    .img-frame-legend-alpha img {
        width: 80%;
        height: auto;
    }
    .mb-32 {
        margin-bottom: 22px;
    }
    .section-subscribe img {
        right: -18%;
        top: -10vh;
    }
    .contact-left {
        padding-left: 0%;
    }
    .contact-right img {
        position: absolute;
        left: -10px;
        top: 50px;
        opacity: 0.12;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .mb-32 {
        margin-bottom: 32px;
    }
    .section-subscribe img {
        right: -20%;
        top: -5vh;
    }
    .contact-right img {
        top: 30px;
    }
}

@media (max-width: 991px) {
    .section-subscribe img {
        right: -15%;
        top: -2vh;
        width: 45%;
    }
    .contact-left {
        padding-left: 15px;
    }

    .contact-right {
        padding-left: 0;
        text-align: center !important;
    }

    .contact-right img {
        position: absolute;
        left: 170px;
        top: 20px;
        opacity: 0.12;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .testimonials .swiper-container.carousel-swiper-beta.slider-container {
        margin-left: 30px;
    }
    .testimonials .items-navigation {
        margin-right: 65px;
    }
}

@media (max-width: 736px) {
    .img-frame-legend-alpha img {
        width: 100%;
        height: auto;
    }
    .about-description {
        top: -30px;
    }
    .about-section div {
        text-align: center !important;
    }
    .about-section .mission-border {
        border: none;
    }
    .about-section {
        padding-bottom: 0;
    }
    .media .icon {
        left: 45%;
        font-size: 4rem;
    }
    .carousel-swiper-beta .legend p {
        margin-bottom: 0;
    }
    .carousel-swiper-beta .legend h2 {
        font-size: 1.5rem;
    }
    .services .media {
        text-align: center;
    }
    .section-subscribe img {
        left: 0%;
        top: -17vh;
        width: 90%;
    }
    .carousel-swiper-beta .slider-container .legend {
        padding-top: 45%;
    }
    .testimonials .swiper-container.carousel-swiper-beta.slider-container {
        margin-left: 0px;
    }
    .testimonials .items-navigation {
        margin-right: 0px;
    }
    .section-contact .section-content .title-desc {
        margin-bottom: 0;
    }
    .contact-right img {
        position: absolute;
        left: 140px;
        top: 30px;
        opacity: 0.12;
        width: 50%;
    }
}

@media (max-width: 736px) {
    .item-buttons .item-buttons-purchase, .item-buttons .item-buttons-next {
        text-align: center;
    }

    .section-home .home-title:before , .section-home .home-title:after {
        width: 35%;
    }

    .section-cover-tier {
        display: none;
    }
}

@media (max-width: 568px) {
    .section-home .home-title:before , .section-home .home-title:after {
        width: 45%;
    }
}
@media screen and (max-width: 640px) and (min-width: 450px) {
    .carousel-swiper-beta .slider-container .legend {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .section-home .home-title:before , .section-home .home-title:after {
        width: 60%;
    }
    .media .icon {
        left: 40%;
        font-size: 5rem;
    }
    .page-footer .footer-left {
        display: none;
    }
    .page-footer .footer-right {
        right: 25%;
    }

    .article .article-content .info-small {
        display: inherit;
        text-align: center;
    }
    .article-light > .article-content > .wrapper > h2 {
        font-size: 2em;
    }
    .contact-right img {
        position: absolute;
        left: 30px;
        top: 30px;
        opacity: 0.12;
        width: 80%;
    }
}

@media (max-width: 375px) {
    .section-home .home-title:before , .section-home .home-title:after {
        width: 65%;
    }
    .page-footer .footer-right {
        right: 23%;
    }
}

@media (max-width: 320px) {
    .section-home .home-title:before , .section-home .home-title:after {
        width: 80%;
    }
    .media .icon {
        left: 38%;
    }
    .page-footer .footer-right {
        right: 20%;
    }
    .contact-right img {
        position: absolute;
        left: -10px;
        top: 30px;
        opacity: 0.12;
        width: 100%;
    }
}
