@font-face {
	font-family: "Font-Awesome";
	src: url("./assets/fonts/fontawesome/fontawesome-webfont.eot#iefix");
	src: url("./assets/fonts/fontawesome/fontawesome-webfont.eot#iefix") format("eot"), url("./assets/fonts/fontawesome/fontawesome-webfont.ttf#iefix") format("truetype"), url("./assets/fonts/fontawesome/fontawesome-webfont.woff#iefix") format("woff"), url("./assets/fonts/fontawesome/fontawesome-webfont.woff2#iefix") format("woff2");
}

@font-face {
	font-family: "Ion-icons";
	src: url("./assets/fonts/ionicons/ionicons.eot#iefix");
	src: url("./assets/fonts/ionicons/ionicons.eot#iefix") format("eot"), url("./assets/fonts/ionicons/ionicons.ttf#iefix") format("truetype"), url("./assets/fonts/ionicons/ionicons.woff#iefix") format("woff");
}


@font-face {
	font-family: "OpenSans-Regular";
	src: url("./assets/fonts/opensans/opensans-regular-webfont.eot#iefix");
	src: url("./assets/fonts/opensans/opensans-regular-webfont.eot#iefix") format("eot"), url("./assets/fonts/opensans/opensans-regular-webfont.ttf#iefix") format("truetype"), url("./assets/fonts/opensans/opensans-regular-webfont.woff#iefix") format("woff");
}

@font-face {
	font-family: "OpenSans-Light";
	src: url("./assets/fonts/opensans/opensans-light-webfont.eot#iefix");
	src: url("./assets/fonts/opensans/opensans-light-webfont.eot#iefix") format("eot"), url("./assets/fonts/opensans/opensans-light-webfont.ttf#iefix") format("truetype"), url("./assets/fonts/opensans/opensans-light-webfont.woff#iefix") format("woff");
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("./assets/fonts/opensans/opensans-Bold-webfont.eot#iefix");
	src: url("./assets/fonts/opensans/opensans-Bold-webfont.eot#iefix") format("eot"), url("./assets/fonts/opensans/opensans-Bold-webfont.ttf#iefix") format("truetype"), url("./assets/fonts/opensans/opensans-Bold-webfont.woff#iefix") format("woff");
}